---
apiVersion: batch/v1
kind: Job
metadata:
  name: "{{ metadata.name }}"
  namespace: "{{ metadata.namespace }}"
  labels:
    name: "{{ metadata.name }}"
    kissService: "false"
    serviceType: dash
spec:
  backoffLimit: 0
  suspend: false
  ttlSecondsAfterFinished: 1
  template:
    metadata:
      labels:
        name: "{{ metadata.name }}"
        kissService: "false"
        serviceType: dash
    spec:
{% if spec.hard or spec.power == "on" %}
      affinity:
        nodeAffinity:
          # KISS normal control plane nodes should be preferred
          preferredDuringSchedulingIgnoredDuringExecution:
            - weight: 1
              preference:
                matchExpressions:
                  - key: node-role.kubernetes.io/kiss-ephemeral-control-plane
                    operator: DoesNotExist
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
              - matchExpressions:
                  - key: node-role.kubernetes.io/kiss
                    operator: In
                    values:
                      - ControlPlane
{% else %}
      nodeName: "{{ spec.box.spec.machine.uuid }}"
{% endif %}
      restartPolicy: OnFailure
      securityContext:
        seccompProfile:
          type: RuntimeDefault
      serviceAccount: kiss-system
      containers:
{% if spec.hard %}
{% if 'power' in spec.box.spec and spec.box.spec.power.type == 'IntelAMT' %}
        - name: power-management-wsmancli
          image: quay.io/ulagbulag/openark-wsmancli:latest
          args:
            - power
            - {{ spec.power }}
          env:
            - name: AMT_HOSTNAME
              value: "{{ spec.box.spec.power.address }}"
            - name: AMT_USERNAME
              valueFrom:
                secretKeyRef:
                  name: kiss-config
                  key: power_intel_amt_username
            - name: AMT_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: kiss-config
                  key: power_intel_amt_password
{% elif 'power' in spec.box.spec and spec.box.spec.power.type == 'Ipmi' %}
        - name: power-management-ipmitool
          image: quay.io/ulagbulag/openark-ipmitool:latest
          args:
            - power
            - {{ spec.power }}
{% endif %}
{% elif spec.power == "on" %}
{# TODO: to be implemented (WOL) #}
{% else %}
        - name: power-management-host
          image: quay.io/app-sre/ubi8-ubi:latest
          command:
{% if spec.power == "off" %}
            - poweroff
{% else %}
            - reboot
{% endif %}
          securityContext:
            privileged: true
            runAsUser: 0
          volumeMounts:
            - name: run
              mountPath: /run
            - name: sys-fs-cgroup
              mountPath: /sys/fs/cgroup
{% endif %}
          resources:
            requests:
              cpu: 30m
              memory: 20Mi
            limits:
              cpu: 100m
              memory: 100Mi
{% if not spec.hard and spec.power != "on" %}
      hostIPC: true
      restartPolicy: Never
      volumes:
        - name: run
          hostPath:
            path: /run
            type: Directory
        - name: sys-fs-cgroup
          hostPath:
            path: /sys/fs/cgroup
            type: Directory
{% endif %}
