---
apiVersion: v1
kind: Pod
metadata:
  name: login-shell
  namespace: "vine-desktop-{{ nodeName }}"
spec:
  affinity:
    nodeAffinity:
      # KISS ephemeral control plane nodes should be excluded
      requiredDuringSchedulingIgnoredDuringExecution:
        nodeSelectorTerms:
          - matchExpressions:
              - key: node-role.kubernetes.io/kiss
                operator: In
                values:
                  - Dashboard
                  - Desktop
  nodeName: "{{ nodeName }}"
  containers:
    - name: login-shell
      image: quay.io/ulagbulag-village/netai-cloud-vdi-desktop:latest
      imagePullPolicy: Always
      command:
        - /opt/scripts/entrypoint-login-shell.sh
      env:
        - name: DISPLAY
          value: ":0"
        - name: LANG
          value: ko_KR.UTF-8
        - name: LC_ALL
          value: ko_KR.UTF-8
        - name: LOCALE
          value: ko_KR.UTF-8
        - name: NVIDIA_DRIVER_CAPABILITIES
          value: all
        - name: NVIDIA_VISIBLE_DEVICES
          value: all
        - name: USER
          value: "2000"
        - name: VINE_LOGIN_PORTAL_ENTRYPOINT
          value: "http://login/"
        - name: XDG_RUNTIME_DIR
          value: /run/user/2000
      workingDir: /home/user
      volumeMounts:
        - name: dev-dri
          mountPath: /dev/dri
        - name: egl-icd-loader
          mountPath: /etc/glvnd/egl_vendor.d
          readOnly: true
        - name: home
          mountPath: /home/user
        - name: machine-id
          mountPath: /etc/machine-id
          readOnly: true
        - name: ice
          mountPath: /tmp/.ICE-unix
        - name: runtime-dbus
          mountPath: /run/dbus
        - name: runtime-user
          mountPath: /run/user/2000
        - name: tmp
          mountPath: /tmp
        - name: vulkan-icd-loader
          mountPath: /etc/vulkan/icd.d
          readOnly: true
        - name: x11
          mountPath: /tmp/.X11-unix
  securityContext:
    runAsUser: 2000
    fsGroup: 2000
  terminationGracePeriodSeconds: 30
  volumes:
    - name: dev-dri
      hostPath:
        path: /dev/dri
        type: Directory
    - name: egl-icd-loader
      hostPath:
        path: /usr/share/glvnd/egl_vendor.d
        type: Directory
    - name: home
      emptyDir: {}
    - name: machine-id
      hostPath:
        path: /etc/machine-id
        type: File
    - name: ice
      hostPath:
        path: /tmp/.ICE-unix
        type: Directory
    - name: runtime-dbus
      hostPath:
        path: /run/dbus
        type: Directory
    - name: runtime-user
      hostPath:
        path: /run/user/2000
        type: Directory
    - name: tmp
      emptyDir: {}
    - name: vulkan-icd-loader
      hostPath:
        path: /usr/share/vulkan/icd.d
        type: Directory
    - name: x11
      hostPath:
        path: /tmp/.X11-unix
        type: Directory
