[connection]
id=10-kiss-enable-{{ item.name }}
uuid={{ item.uuid }}
type={{ item.type }}

autoconnect=true

[ethernet]
mac-address={{ item.macaddress }}
mtu={{ item.mtu }}

[ipv4]
address1={{ item.address_ipv4 }}/{{ item.address_ipv4_netmask }},{{ item.address_ipv4_gateway }}
dns={{ item.dns | join(';') }};
dns-search=
method=manual
route-metric=10

[ipv6]
addr-gen-mode=eui64
dns-search=
method=disabled

[proxy]

[tc]
qdisc.root="{{ item.qdisc }}"

{% if kiss_network_wireless_wifi_ssid != "" %}
[wifi]
mode=infrastructure
ssid={{ kiss_network_wireless_wifi_ssid }}

[wifi-security]
auth-log=open
key-mgmt={{ kiss_network_wireless_wifi_key_mgmt }}
psk={{ kiss_network_wireless_wifi_key_psk }}
{% endif %}

[proxy]
