# Executors
nvidia-cuda-runtime  # include(x86_64)
nvidia-cufft  # include(x86_64)
nvidia-curand  # include(x86_64)

# Runtime
onnxruntime      # CPU
onnxruntime-gpu  # CUDA, TensorRT  # include(x86_64)
timm
transformers[onnx]

# Vision
onnxsim>=0.4.33
opencv-python<=4.8.0.74

# Third-party Models
-r https://raw.githubusercontent.com/ultralytics/yolov5/master/requirements.txt
