[Desktop Entry]
Type=Application
Name=Xfce4 Notification Daemon
TryExec=/usr/lib64/xfce4/notifyd/xfce4-notifyd
Exec=/usr/lib64/xfce4/notifyd/xfce4-notifyd
StartupNotify=false
NoDisplay=true

X-GNOME-Autostart-Phase=Initialization
X-KDE-autostart-phase=1
